/* =================== FONTS =================== */
/* @font-face {
  font-family: Source Sans Pro;
  src: url("../fonts/SourceSansPro-Black.ttf");
  font-weight: 900;
  font-display: auto;
}
@font-face {
  font-family: Source Sans Pro;
  src: url("../fonts/SourceSansPro-Bold.ttf");
  font-weight: 700;
  font-display: auto;
}
@font-face {
  font-family: Source Sans Pro;
  src: url("../fonts/SourceSansPro-SemiBold.ttf");
  font-weight: 600;
  font-display: auto;
}
@font-face {
  font-family: Source Sans Pro;
  src: url("../fonts/SourceSansPro-Regular.ttf");
  font-weight: 400;
  font-display: auto;
}
@font-face {
  font-family: Source Sans Pro;
  src: url("../fonts/SourceSansPro-Light.ttf");
  font-weight: 300;
  font-display: auto;
}

@font-face {
  font-family: Catamaran;
  src: url("../fonts/Catamaran-Bold.ttf");
  font-weight: 700;
  font-display: auto;
}
@font-face {
  font-family: Catamaran;
  src: url("../fonts/Catamaran-SemiBold.ttf");
  font-weight: 600;
  font-display: auto;
}
@font-face {
  font-family: Catamaran;
  src: url("../fonts/Catamaran-Regular.ttf");
  font-weight: 400;
  font-display: auto;
} */
/* ============== GENERAL ============== */
.container {
  max-width: 1200px;
}

body {
  font-family: "Source Sans Pro";
  color: #232323;
  font-weight: 400;
  background: #fefefe;
}
body .container-fluid {
  padding: 0px;
}
a {
  text-decoration: none;
  line-height: 1;
  display: inline-block;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  outline: none;
}
a:hover {
  text-decoration: none;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
p,
h1,
h2,
h3,
h4 {
  margin: 0px;
}
img {
  width: 100%;
}
/* =========== General Dejavu =========== */
.btn-one{
  padding: 12px 40px;
  border-radius: 40px;
  background: #b11226;
  border: 1px solid #b11226;
  line-height: 1.2;
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.btn-one:hover{
  opacity: 0.6;
}
.btn-two{
  padding: 12px 40px;
  border-radius: 40px;
  border: 1px solid #fff;
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.h-line{
  height: 2px;
  margin: 20px auto 20px;
  position: relative;
  width: 80px;
  background: #b11226;
}
/* ----- SLICK DOTS ------ */
.slick-dots{
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
.slick-dots li button {
  width: 10px;
  height: 10px;
  padding: 0;
  border: none;
  border-radius: 100%;
  background-color: #dedede;
  text-indent: -9999px;
  margin: 0 5px;
}
.slick-dots .slick-active button {
  background-color: #b11226;
}
.items-slick {
  outline: none;
}
/* -------- Pre Loader -------- */
.animsition-loading-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
[data-loader="ball-scale"] {
  width: 50px;
  height: 50px;
  -webkit-animation: ball-scale infinite linear 0.75s;
  -moz-animation: ball-scale infinite linear 0.75s;
  -o-animation: ball-scale infinite linear 0.75s;
  animation: ball-scale infinite linear 0.75s;
  border-radius: 100%;
  background-color: #e87528;
}
@-webkit-keyframes ball-scale {
  0% {
    -webkit-transform: scale(0.1);
    -ms-transform: scale(0.1);
    -o-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

@-moz-keyframes ball-scale {
  0% {
    -webkit-transform: scale(0.1);
    -ms-transform: scale(0.1);
    -o-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

@-o-keyframes ball-scale {
  0% {
    -webkit-transform: scale(0.1);
    -ms-transform: scale(0.1);
    -o-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes ball-scale {
  0% {
    -webkit-transform: scale(0.1);
    -ms-transform: scale(0.1);
    -o-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
/* ============== Header ============== */
header{
  transition: 0.5s all ease;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 99;
  height: 80px;
}
header .navbar-toggler:focus {
  outline: none;
}
header .navbar-toggler{
  cursor: pointer;
}
/* ----- LOGO ----- */
.logo{
  width: 81px;
  line-height: 1;
}
.logo-red{
  display: none;
}
/* ----- STICKY HEADER ----- */
.sticky-header {
  transition: 0.3s all ease-in-out;
  background: #fff;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.06);
  -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.06);
}
.sticky-header .logo-red{
  display: block;
  transition: 0.3s all ease-in-out;
}
.sticky-header .logo-white{
  display: none;
  transition: 0.3s all ease-in-out;
}
.sticky-header .main-menu li a{
  color: #232323;
}
.sticky-header #mobile-bars {
  color: #b11226;
  transition: 0.3s all ease-in-out;
}
/* ----- NAVBAR ----- */
.navbar-expand-lg > div{
  max-height: 64px;
}
.nav-section{
  justify-content: flex-end;
}
.main-menu li{
  text-align: center;
  padding: 10px 0;
}
.main-menu li a{
  padding: 5px 0;
  margin: 0 15px;
  line-height: 1.3;
  text-transform: uppercase;
  color: #fff;
  position: relative;
}
.main-menu li a:hover{
  color: #b11226;
}
.main-menu li a:after{
  content: '';
  position: absolute;
  width: 0;
  height: 1px;
  background: #b12126;
  bottom: 0;
  left: 0;
  transition: 0.3s all ease-in-out;
}
.main-menu li a:hover:after{
  width: 100%;
  transition: 0.3s all ease-in-out;
}
#mobile-bars {
  color: #fff;
  transition: 0.3s all ease-in-out;
}
/* ============== BODY SECTION ============== */
/* ----- Header Content ----- */
.header-content{
  background-image: url('../images/section-bg.jpg');
  background-size: cover;
  position: relative;
  padding: 150px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: 0.3s all ease-in-out;
}
.header-content:before {
  content: '';
  background: rgba(0, 0, 0, 0.63);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.header-content h1{
  font-family: 'Catamaran', sans-serif;
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #fff;
}
.header-content p{
  color: #fff;
  max-width: 47%;
  margin-bottom: 30px;
}
.btn-list li{
  display: inline-block;
  padding: 0 5px;
}
.btn-list li a{
  display: inline-block;
  margin-right: 8px;
}
/* ------------------------------- */
/* ----- Section One ----- */
.section-one{
  padding: 100px 0;
}
/* -- ABOUT US -- */
.section-title{
  text-align: center;
  margin-bottom: 30px;
}
.section-title h2{
  font-family: 'Catamaran', sans-serif;
  font-weight: 600;
  font-size: 35px;
  margin-bottom: 20px;
}
.section-title p{
  color: #848484;
  width: 50%;
  margin: 0 auto;
  line-height: 1.3;
}
.section-content p{
  margin-bottom: 15px;
  color: #848484;
  font-size: 16px;
}
.section-content p:last-of-type{
  margin-bottom: 25px;
}
.section-content h4{
  margin-bottom: 10px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 600;
  font-size: 18px;
}
.feature-list{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
}
.feature-list li{
  display: flex;
  align-items: center;
  width: 48%;
  color: #666;
  font-size: 13px;
  font-family: 'Open sans';
  margin-bottom: 10px;
  font-weight: 600;
}
#check-circle-svg{
  width: 15px;
  display: inline-block;
  color: #b11226;
  margin-right: 10px;
}
.section-content .feature-list li p{
  display: inline-block;
  color: #666;
  margin: 0;
  font-size: 13px;
  font-family: 'Open sans';
  font-weight: 600;
}
/* ------------------------------------------- */
/* ----- SECTION TWO -----*/
/* ----- CALL TO ACTION -----*/
.call-to-action{
  background-image: url('../images/call-to-action-bg.jpg');
  background-size: cover;
  padding: 100px 50px;
}
.call-to-action h2{
  line-height: 1.5;
  font-family: 'Catamaran', sans-serif;
  font-weight: 600;
  color: #fff;
}
/* ------------------------------------------- */
/* ----- SECTION Three -----*/
/* ----- SERVICES -----*/
.section-three{
  padding: 100px 0;
}
.section-three .section-title p{
  width: 58%;
}
.service-block{
  padding: 50px 35px;
  text-align: center;
  max-height: 390px;
}
.block-icon{
  width: 50px;
  display: inline-block;
  margin-bottom: 30px;
  color: #e9213a;
}
.service-block h3{
  font-size: 18px;
  font-family: 'Catamaran', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 10px;
  color: #232323;
}
.service-block p{
  color: #666;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 0px;
}
.service-bg{
  background-color: #ce1b31;
}
.service-bg .block-icon{
  color: #fff;
}
.service-bg h3,
.service-bg p{
  color: #fff;
}
/* ---------------------------------- */
/* ----- Portfolio ----- */
.portfolio{
  padding: 100px 0;
  background: #f6f6f6;
}
.portfolio-filter{
  text-align: center;
  margin-bottom: 30px;
}
.portfolio-filter button {
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 20px;
  text-transform: uppercase;
  background: #b11226;
  border: none;
  color: #fff;
  outline: none;
}
.portfolio-items-wrapper .mix{
  padding: 0 15px;
}
.portfolio-block {
  position: relative;
  margin-bottom: 30px;
}
.portfolio-block:before {
  transition: all 0.3s ease-in-out;
  background: rgba(0, 0, 0, 0.55);
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  content: '';
}
.portfolio-block:hover:before {
  opacity: 1;
}
.portfolio-block .caption {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 9;
  transition: all 0.3s ease-in-out;
  text-align: center;
  width: 100%;
}
.portfolio-block:hover .caption {
  opacity: 1;
  top: 55%;
}
.portfolio-block .caption .search-icon {
  background: #b11226;
  color: #fff;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 40px;
  margin: 0 auto;
  padding: 8px;
  height: 40px;
  margin-bottom: 10px;
}
.portfolio-block .caption h4 a{
  color: #fff;
}
#search-svg{
  width: 20px;
}
/* -------------------------------------- */
/* ----- Partners ----- */
.partners{
  padding: 100px 0;
  background: #f6f6f6;
}
/* -------------------------------------- */
/* ----- TEAM ----- */
.team{
  padding: 100px 0;
}
.team-member{
  padding: 0 15px;
}
.member-image{
  overflow: hidden;
  position: relative;
}
.member-image img{
  transition: 0.3s all ease-in-out;
}
.member-image:hover img{
  transform: scale(1.1);
  transition: 0.3s all ease-in-out;
}
.member-image:hover .member-caption{
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
}
.team-member .member-caption{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  bottom: 0;
  top: auto;
  opacity: 0;
  filter: alpha(opacity=0);
  background: rgba(227, 40, 40, 0.7);
  left: 0;
  right: 0;
  cursor: pointer;
  padding: 0;
  height: 80px;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  transition: all .3s ease;
}
.team-member .member-caption li {
  display: inline-block;
  margin-right: 7px;
}
.member-caption li a{
  border: 1px solid #ddd;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-size: 20px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.member-content{
  padding: 25px 0;
  text-align: center;
  background: #fff;
}
.member-content h3{
  font-size: 20px;
  margin: 0 0 5px;
  color: #333;
  font-weight: 600;
}
.member-content span{
  margin-bottom: 10px;
  font-size: 14px;
  color: #555;
}
.team-member .member-content p{
  margin-top: 10px;
  font-size: 16px;
  width: 85%;
  margin: 0 auto;
  margin-bottom: 0;
}
.team-member{
  padding: 0 15px;
}
#facebook-svg,
#twitter-svg,
#dribble-svg{
  height: 20px;
}
/* ----------------------------------- */
/* ----- TESTIMONIALS ----- */
.testimonials{
  padding-top: 100px;
  background: #b11226;
  position: relative;
  padding-bottom: 0px;
  margin-bottom: 100px;
}
.testimonials:before{
  content: "";
  position: absolute;
  left: 0%;
  right: 0%;
  bottom: 0;
  height: 250px;
  background-color: #fefefe;
}
.testimonials-icon {
  width: 80px;
  color: #fff;
  margin-bottom: 50px;
  display: inline-block;
  line-height: 1;
}
.client-speech{
  margin-bottom: 30px;
}
.client-speech p{
  font-size: 17px;
  color: #fff;
  padding: 0 10%;
}
.client-thumb{
  margin-bottom: 20px;
}
.client-thumb img{
  display: inline-block;
  border-radius: 100%;
  width: 150px;
  height: auto;
}
.client-details h3{
  font-family: 'Catamaran', sans-serif;
  font-weight: 600;
  color: #232323;
}
.client-details span{
  font-family: 'Catamaran', sans-serif;
  font-weight: 400;
  color: #232323;
}
/* -------------------------- */
/* ----- NEWSLETTER ----- */
.newsletter{
  padding: 50px 0;
}
.block-newsletter{
  display: flex;
  align-items: center;
  justify-content: center;
}
.block-newsletter input {
  font-size: 14px;
  max-width: 450px;
  width: 75%;
  font-weight: 300;
  color: #b11226;
  background: #fff;
  border: 1px solid #000;
  outline: none;
  padding: 10px;
  margin-right: 10px;
  font-weight: bold;
}
.block-newsletter input::placeholder{
  color: #999;
}
.block-newsletter .button{
  padding: 10px 15px;
  color: #fff;
  font-size: 14px;
  background: #b11226;
  cursor: pointer;
  border: 1px solid transparent;
  text-transform: uppercase;
  transition: 0.2s all ease-in-out;
}
.block-newsletter .button:hover{
  border-color: #000;
  background: transparent;
  color: #000;
}
/* ============== FOOTER ============== */
.footer-top{
  background-color: #333;
  padding: 50px 0 30px;
}
/* ----- INFO BLOCK ----- */
.footer-logo{
  width: 120px;
  margin-bottom: 20px;
}
.footer-about{
  font-size: 14px;
  color: #bdbdbd;
  font-weight: 300;
  color: #fff;
  margin-bottom: 20px;
  width: 75%;
}
/* ----- FOOTER INFO ----- */
.footer-info{
  position: relative;
  padding-top: 15px;
}
.footer-info:before{
  content: '';
  width: 100px;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
}
.footer-info li{
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.info-icon{
  width: 15px;
  color: #fff;
  line-height: 1;
  margin-right: 10px;
}
.info-text{
  color: #fff;
  font-size: 13px;
  line-height: 1.3;
}
/* ----- SERVICES BLOCK ----- */
.footer-top .services-block,
.footer-top .quickLinks-block,
.footer-top .socialmedia-block{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 30px 30px 0;
}
.footer-block-title{
  width: 100%;
  font-family: 'Catamaran', sans-serif;
  font-weight: 600;
  font-size: 25px;
  text-transform: uppercase;
  color: #fff;
}
.footer-services li a,
.footer-quickLinks li a,
.footer-socialmedia li a{
  font-size: 16px;
  line-height: 1.3;
  color: #fff;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 15px;
}
.footer-services li a:hover,
.footer-quickLinks li a:hover{
  color: #ce1b31;
}
.footer-services li:last-child a,
.footer-quickLinks li:last-child a,
.footer-socialmedia li:last-child a{
  margin-bottom: 0;
}
/* ----- SOCIALMEDIA ----- */
.footer-socialmedia{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.footer-socialmedia li{
  padding: 0 10px;
  transition: all 0.3s ease-in-out;
  width: 35%;
}
.footer-socialmedia li:last-child {
  margin-right: 0px;
}
.footer-socialmedia li a {
  width: 30px;
  height: 30px;
  padding: 5px;
  border: 1px solid #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}
.footer-socialmedia svg{
  width: 15px;
  height: 15px;
  color: #fff;
  transition: all 0.3s ease-in-out;
}
/* ----- SOCIAL MEDIA HOVER ----- */
.footer-socialmedia li a:hover{
  border-color: #b11226;
  background: #b11226;
}

/* ----- FOOTER BOTTOM ----- */
.footer-bottom{
  background-color: #222;
  text-align: center;
  padding: 30px 0;
}
.footer-bottom h4{
  font-family: 'catamaran', sans-serif;
  font-size: 12px;
  line-height: 1;
  color: #888888;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 5px;
}
.footer-bottom p{
  font-family: 'Catamaran', sans-serif;
  font-size: 11px;
  line-height: 15px;
  color: #888888;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 2px;
}
.footer-bottom p span{
  color: #ce1b31;
  text-transform: uppercase;
  font-weight: bold;
  transition: 0.3s all ease-in-out;
  position: relative;
}
.footer-bottom p span:after{
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #ce1b31;
  bottom: 0;
  left: 0;
}
.footer-bottom p span:hover:after{
  width: 100%;
  transition: 0.3s all ease-in-out;
}
/* ============== MEDIA ============== */
/* -------- 1200 * 991 * 768 * 575  -------- */
@media (max-width: 992px) {
  .main-menu li a {
    margin: 0;
    color: #232323;
    font-weight: 600;
    padding: 0;
  }
  .main-menu {
    background: rgba(255,255,255,0.8);
    margin-top: 20px;
    border-radius: 8px;
  }
  .sticky-header .main-menu {
    background: rgba(0,0,0,0.8);
    margin-top: 20px;
    border-radius: 8px;
  }
  .sticky-header .main-menu li a {
    color: #fff;
  }
  .sticky-header .main-menu li a:hover{
    color: #b11226;
  }
  .footer-top .services-block,
  .footer-top .quickLinks-block,
  .footer-top .socialmedia-block{
    justify-content: flex-start;
  }
  .footer-block-title{
    margin-bottom: 25px;
  }
}
@media (max-width: 991px) {
  /* ----- HEADER CONTENT ----- */
  .header-content{
    height: auto;
  }
  /* ----- NAV ----- */
  .main-menu{
    padding: 10px 0;
  }
  .main-menu li{
    padding: 5px 0;
  }
}
@media (max-width: 768px) {
  .section-content .left-content{
    margin-bottom: 30px;
  }
  .about p{
    width: 100%;
  }
  .portfolio-filter button{
    margin-bottom: 20px;
  }
}
@media (max-width: 575px) {
  .section-title p{
    width: 70%;
  }
}
@media (max-width: 420px){
  .btn-list{
    text-align: center;
  }
  .btn-list li{
    margin-bottom: 20px;
  }
  .btn-list li:last-child{
    margin-bottom: 0px;
  }
}